@page "/Credits"

<PageTitle>savoir Credits</PageTitle>

<div class="CreditsPage">
    <table class="CreditsPage__table">
        <colgroup>
            <col span="2" style="width: 50%"/>    
        </colgroup>
        <tr>
            <td>
                <div class="CreditsPage__message">
                    <i>savoir</i> was assembled by:
                    <ul>
                        <li>William - Project Manager / Graphic Designer / Data Scientist</li>
                        <li>Omar - Lead Developer</li>
                        <li>Ismaeel - Spanish Version Coordinator</li>
                    </ul>
                    <br />Our intention was to create a revision app to help students revise Edexcel GCSE Languages by practicing verb conjugations and vocabulary translations.
                    <br/><br /><i>savoir</i> is currently in its <b>beta phase</b>.<br />
                    There are a number of features we plan to add to improve this revision resource but if you have something in particular, please let us know! You can do this via the adjacent form or by dropping an email to <a href="mailto:savoirdevs@outlook.com" style="color: #726EFF">savoirdevs@outlook.com</a>
                </div>
            </td>
            <td>
                <iframe width="640" height="480" src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAN__mFzdEtUQTJZQVNNWjRWUVkyVFdEOVpPTlZDQ0lKRS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
            </td>
        </tr>
    </table>
</div>
