@page "/"

<PageTitle>Index</PageTitle>
       

<h2 class="sub-heading">General Sets</h2>
<button id="beginner" class="set-btn">Beginner</button>
<button id="intermediate" class="set-btn">Intermediate</button>
<button id="advanced" class="set-btn">Advanced</button>
<button id="master" class="set-btn">Master</button>

<h2 class="sub-heading">Module Sets</h2>
<button class="set-btn">Identity & Culture</button>
<button class="set-btn">Holiday & Travel</button>
<button class="set-btn">School</button>
<button class="set-btn">Work</button>
<button class="set-btn">Environment </button>
<button class="set-btn">Food</button>


<TenseMenu />