@page "/VocabQuiz"

<PageTitle>Vocab Quiz</PageTitle>

<div class="VocabQuiz">
    <div class="VocabQuiz__header">
        <h2 id="VocabQuiz__module">Module Name</h2>
    </div>
    <div class="VocabQuiz__bubble">
        <p id="VocabQuiz__vocab">Vocab</p>
    </div>
    <div class="VocabQuiz__input">
        <input type="text" id="VocabQuiz__translation" placeholder="Enter the translation..." autocomplete="off"/>
    </div>
    <button type="submit" class="Quiz__submit" id="VocabQuiz__submit" onclick="">Submit</button>

</div>