<div class="AccentBox" id="AccentBox__id">

    <div class="AccentBox__header">
        Accents
    </div>

    <div class="AccentBox__buttons">
        @foreach(char accent in GLOBALS.languageAllAccents[GLOBALS.ActiveLanguage])
        {
            <button id="@($"{accent}-id")" @onclick="(e => OnClick.InvokeAsync(accent))">@accent</button>
        }
    </div>
</div>

@code {
    [Parameter] public EventCallback<char> OnClick { get; set; }
}
