<div class="AccentBox" hidden="@AccentMenuHidden">

    <div class="AccentBox__header">
        Accents

        <button id="AccentBox__close" @onclick="((e) => OnClick.InvokeAsync('#'))">X</button>
    </div>

    <div class="AccentBox__buttons">
        <button id="cedilla" @onclick="((e) => OnClick.InvokeAsync('ç'))">ç</button>
        <button id="aigu" @onclick="((e) => OnClick.InvokeAsync('é'))">é</button>
        <button id="a_circumflex" @onclick="((e) => OnClick.InvokeAsync('â'))">â</button>
        <button id="e_circumflex" @onclick="((e) => OnClick.InvokeAsync('ê'))">ê</button>
        <button id="i_circumflex" @onclick="((e) => OnClick.InvokeAsync('î'))">î</button>
        <button id="o_circumflex" @onclick="((e) => OnClick.InvokeAsync('ô'))">ô</button>
        <button id="u_circumflex" @onclick="((e) => OnClick.InvokeAsync('û'))">û</button>
        <button id="a_grave" @onclick="((e) => OnClick.InvokeAsync('à'))">à</button>
        <button id="e_grave" @onclick="((e) => OnClick.InvokeAsync('è'))">è</button>
        <button id="i_grave" @onclick="((e) => OnClick.InvokeAsync('ì'))">ì</button>
        <button id="o_grave" @onclick="((e) => OnClick.InvokeAsync('ò'))">ò</button>
        <button id="u_grave" @onclick="((e) => OnClick.InvokeAsync('ù'))">ù</button>
        <button id="e_trema" @onclick="((e) => OnClick.InvokeAsync('ë'))">ë</button>
        <button id="i_trema" @onclick="((e) => OnClick.InvokeAsync('ï'))">ï</button>
        <button id="u_trema" @onclick="((e) => OnClick.InvokeAsync('ü'))">ü</button>
    </div>

</div>

@code {
    [Parameter]
    public bool AccentMenuHidden { get; set; }

    [Parameter] public EventCallback<char> OnClick { get; set; }
}
