@inherits LayoutComponentBase
@inject NavigationManager Navigation
    
<NavMenu refreshBody="@RefreshMainContents"/>

<CascadingValue Value="@dummy">
    <main class="container">
        @Body
    </main>
</CascadingValue>
        
@code {
    int dummy = 0;

    public void RefreshMainContents()
    {
        dummy = dummy + 3;
        StateHasChanged();
    }
}

