<div>
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: #292929;
            color: #fff;
        }

            .navbar input[type="text"] {
                width: 30%;
                padding: 0.5em;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            .navbar button {
                padding: 0.5em 1em;
                border-radius: 5px;
                background-color: #fff;
                color: #333;
                border: 1px solid #333;
                cursor: pointer;
            }
    </style>
    <nav class="navbar">
        <button>
            <a href="#">
                Home
            </a>
        </button>
        <input id="search-box" type="text" placeholder="Search Verb or Tense...">
        <button>
            <a href="Settings">
                Settings
            </a>
        </button>
    </nav>
</div>
