<div>
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: #292929;
            color: #fff;
        }

            .navbar input[type="text"] {
                width: 30%;
                padding: 0.5em;
                border-radius: 5px;
                border: 1px solid #ccc;
                display: block;
                margin: 0 auto;
            }

        #home-icon {
            width: 60px;
        }

        #navbar__credits{
            color: #a19d9d;
            font-size: 0.9em;
        }

        #navbar__credits:hover{
            color: #fff;
        }
        #france-icon{
            margin-left: 23px;
            width: 40px;
            border-radius: 3px;
        }

    </style>
    <nav class="navbar">
        <a href="">
            <img id="home-icon" src="images/logo-icon.png" />
        </a>
        <span class="languageSelection">
            <img id="france-icon" src="images/france-icon.png"/>
        </span>
        <input id="search-box" type="text" placeholder="Search Verb or Tense...  (Coming Soon!)" disabled>
        <a href="Credits" id="navbar__credits">
            Credits
        </a>
    </nav>
</div>
