<div>
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: #292929;
            color: #fff;
        }

            .navbar input[type="text"] {
                width: 30%;
                padding: 0.5em;
                border-radius: 5px;
                border: 1px solid #ccc;
                display: block;
                margin: 0 auto;
            }

            .navbar button {
                padding: 0.5em 1em;
                border-radius: 5px;
                background-color: #fff;
                color: #333;
                border: 1px solid #333;
                cursor: pointer;
            }

        #home-icon {
            width: 60px;
        }
    </style>
    <nav class="navbar">
        <a href="#">
            <img id="home-icon" src="images/logo-icon.png" />
        </a>
        <input id="search-box" type="text" placeholder="Search Verb or Tense...  (Coming Soon!)" disabled>
    </nav>
</div>
