<div class="TenseMenu">
    <div class="TenseMenu__header">
        <h2>Tenses</h2>
        <p>Select the tenses you would like to practice</p>
    </div>
    <label class="toggle" for="present">
        <input class="toggle__input" type="checkbox" id="present" />
        <span class="toggle__fill"></span>
        Present
    </label>
    <label class="toggle" for="imperfect">
        <input class="toggle__input" type="checkbox" id="imperfect" />
        <span class="toggle__fill"></span>
        Imperfect
    </label>
    <label class="toggle" for="passeSimple">
        <input class="toggle__input" type="checkbox" id="passeSimple" />
        <span class="toggle__fill"></span>
        Passe simple
    </label>
    <label class="toggle" for="simpleFuture">
        <input class="toggle__input" type="checkbox" id="simpleFuture" />
        <span class="toggle__fill"></span>
        Simple future
    </label>
    <label class="toggle" for="conditional">
        <input class="toggle__input" type="checkbox" id="conditional" />
        <span class="toggle__fill"></span>
        Conditional
    </label>
    <label class="toggle" for="subjunctive">
        <input class="toggle__input" type="checkbox" id="subjunctive" />
        <span class="toggle__fill"></span>
        Subjunctive
    </label>
    <label class="toggle" for="imperfectSubjunctive">
        <input class="toggle__input" type="checkbox" id="imperfectSubjunctive" />
        <span class="toggle__fill"></span>
        Imperfect subjunctive
    </label>
    <label class="toggle" for="imperative">
        <input class="toggle__input" type="checkbox" id="imperative" />
        <span class="toggle__fill"></span>
        Imperative
    </label>
    <label class="toggle" for="passeCompose">
        <input class="toggle__input" type="checkbox" id="passeCompose" />
        <span class="toggle__fill"></span>
        Passe compose
    </label>
    <label class="toggle" for="pastPerfect">
        <input class="toggle__input" type="checkbox" id="pastPerfect" />
        <span class="toggle__fill"></span>
        Past perfect
    </label>
    <label class="toggle" for="futurePerfect">
        <input class="toggle__input" type="checkbox" id="futurePerfect" />
        <span class="toggle__fill"></span>
        Future perfect
    </label>
    <label class="toggle" for="pastConditional">
        <input class="toggle__input" type="checkbox" id="pastConditional" />
        <span class="toggle__fill"></span>
        Past conditional
    </label>
    <label class="toggle" for="pastSubjunctive">
        <input class="toggle__input" type="checkbox" id="pastSubjunctive" />
        <span class="toggle__fill"></span>
        Past subjunctive
    </label>
    <label class="toggle" for="pluperfectSubjunctive">
        <input class="toggle__input" type="checkbox" id="pluperfectSubjunctive" />
        <span class="toggle__fill"></span>
        Pluperfect subjunctive
    </label>
    <label class="toggle" for="pastAnterior">
        <input class="toggle__input" type="checkbox" id="pastAnterior" />
        <span class="toggle__fill"></span>
        Past anterior
    </label>
    <label class="toggle" for="pastImperative">
        <input class="toggle__input" type="checkbox" id="pastImperative" />
        <span class="toggle__fill"></span>
        Past imperative
    </label>

    <div class="TenseMenu__buttons">
        <div class="TenseMenu__buttons_studySet">
            <button class="TenseMenu__buttons__practice" onclick="">
                <a href="VerbQuiz">Practice</a>
            </button>
        </div>
        <div class="TenseMenu__buttons_moduleSet">
            <button class="TenseMenu__buttons__verbs" onclick="">
                <a href="VerbQuiz">Verb</a>
                </button>
            <button class="TenseMenu__buttons__verbs" onclick="">
                <a href="VocabQuiz">Vocab</a>
            </button>
        </div>
    </div>
</div>